ul.home-about__features.waypoint-circles
	li.features-circle(data-percent="25")
		svg(viewbox="0 0 156 156").icon
			circle.main(cx="78" cy="78" r="70" )
			circle.bar(cx="78" cy="78" r="70" data-color="#F7E12A")
			text(x="50%" y="50%" dy=".4em").icm &#xe919;
		.text
			p Сейчас на сайте
			span.count 2 365
	li.features-circle(data-percent="50")
		svg(viewbox="0 0 156 156").icon
			circle.main(cx="78" cy="78" r="70" )
			circle.bar(cx="78" cy="78" r="70"  data-color="#F7E12A")
			text(x="50%" y="50%" dy=".4em").icm &#xe91a;
		.text
			p Инвестировано
			span.count 17 365 945
	li.features-circle(data-percent="75 ")
		svg(viewbox="0 0 156 156").icon
			circle.main(cx="78" cy="78" r="70" )
			circle.bar(cx="78" cy="78" r="70"  data-color="#F7E12A")
			text(x="50%" y="50%" dy=".4em").icm &#xe91b;
		.text
			p Выплачено
			span.count 2 357 943