footer.main-footer
	.container.clearfix
		.col-lg-3.col-sm-4.nopad
			.main-footer__left 
				a(href="/").footer-logo: img(src="img/logo-dark.png", alt="")
				.copyright © Кредитный кооператив <br> “ВашДоход365” Все права защищены
				ul.social
					li: a(href="#"): i.icm.icon-fb
					li: a(href="#"): i.icm.icon-vk
					li: a(href="#"): i.icm.icon-tw
					li: a(href="#"): i.icm.icon-inst
					li: a(href="#"): i.icm.icon-gp
		.col-lg-9.col-sm-8.nopad
			.main-footer__right.clearfix
				.col-sm-8
					ul.footer-menu
						li: a(href="#") Главная
						li: a(href="#") О нас
						li: a(href="#") Наши кейсы
						li: a(href="#") Отзывы
						li: a(href="#") Faq
						li: a(href="#") Информация
						li: a(href="#") контакты
				.col-sm-4
					.footer-contacts
						a(href="/contacts").footer-header Контакты
						p 11020, г. Москва, ул. 2-я Ленина, д.9 А, строение 10. ОАО "КОМПАНИЯ" Брянская область, Бахчисарайский район, пос. Вилино

