// header
.main-header.inner
	.container
		.main-header__top
			button.mobile-menu-btn
				span
				span
				span
			.row
				.col-md-2.col-xs-5.col-sm-12
					a(href="/").logo
						img(src="img/logo-black.png", alt="Ваш доход 365")
				.col-md-10.col-xs-7.col-sm-12
					ul.main-menu
						li: a(href="/") Главная
						li: a(href="about.html") О нас
						li: a(href="#") Наши кейсы
						li: a(href="#") Отзывы
						li: a(href="faq.html") FAQ
						li: a(href="#") Информация
						li: a(href="contacts.html") Контакты
					.user-block
						a(href="cabinet.html").btn.btn--transp.entered User07

