// header
.main-header(class="parallax-window" data-parallax="scroll" data-image-src="img/header-bg.jpg")
	.mouse: i.icm.icon-mouse
	.container
		.main-header__top
			button.mobile-menu-btn
				span
				span
				span
			.row
				.col-md-2.col-xs-5.col-sm-12
					a(href="/").logo
						img(src="img/logo.png", alt="Ваш доход 365")
				.col-md-10.col-xs-7.col-sm-12
					ul.main-menu
						li: a(href="/") Главная
						li: a(href="about.html") О нас
						li: a(href="#") Наши кейсы
						li: a(href="#") Отзывы
						li: a(href="faq.html") FAQ
						li: a(href="#") Информация
						li: a(href="contacts.html") Контакты
					.user-block
						a(href="cabinet.html").btn.btn--transp Вход
					
		.main-header__desc
			.centered
				h1 Зарабатывай 25% от суммы вклада за 3 дня
				p Ваши деньги работают на вас
				.btns
					a(href="#").btn.btn--yellow.big Открыть счет
					a(href="#").btn.btn--transp.big Расчитать доход

