section.home-features
	.section-header
		h2 Наши приемущества
		p Почему мы лучше других ?
	.container.clearfix
		.col-sm-6.col
			.wrap: .home-features__item
				i.icm.icon-magnifier.fadeInUpShort.wow
					span.path1
					span.path2
					span.path3
					span.path4
					span.path5
					span.path6
				.text.wow.fadeIn
					.name Прозрачность
					p Каждый выданный заем обеспечен залогом в виде недвижимости или транспортного средства, рыночная стоимость которых в полтора раза превышает сумму займа
		.col-sm-6.col
			.wrap: .home-features__item
				i.icm.icon-badge.fadeInUpShort.wow
					span.path1
					span.path2
					span.path3
					span.path4
				.text.wow.fadeIn
					.name Прозрачность
					p Каждый выданный заем обеспечен залогом в виде недвижимости или транспортного средства, рыночная стоимость которых в полтора раза превышает сумму займа
		.col-sm-6.col
			.wrap: .home-features__item
				i.icm.icon-bag.fadeInUpShort.wow
					span.path1
					span.path2
				.text.wow.fadeIn
					.name Прозрачность
					p Каждый выданный заем обеспечен залогом в виде недвижимости или транспортного средства, рыночная стоимость которых в полтора раза превышает сумму займа
		.col-sm-6.col
			.wrap: .home-features__item
				i.icm.icon-pig.fadeInUpShort.wow
					span.path1
					span.path2
					span.path3
					span.path4
				.text.wow.fadeIn
					.name Прозрачность
					p Каждый выданный заем обеспечен залогом в виде недвижимости или транспортного средства, рыночная стоимость которых в полтора раза превышает сумму займа