section.home-referal.bg-gray
	.container
		.home-referal__inner
			.section-header
				h2 Реферальная программа
			p Кредитный кооператив “ВашДоход” — действующий член Ассоциации "Саморегулируемая организация кредитных потребительских кооперативов "Кооперативные Финансы".
			p Ассоциация обеспечивает имущественную ответственность кредитного кооператива и контролирует его деятельность. Ведём прозрачную отчётность по стандартам и делаем отчисления в компенсационный фонд
			ul.referal-digits
				li.fadeInLeftShort().wow
					span 1 уровень
					span.digit 8%
				li.fadeInLeftShort(data-wow-delay=".5s").wow
					span 1 уровень
					span.digit 5%
				li.fadeInLeftShort(data-wow-delay="1s").wow
					span 1 уровень
					span.digit 2%