section.home-stat
	.container
		.section-header.fadeInUpShort.wow
			h2 Статистика проекта
			p Наши достижения
		.home-stat__body
			.row
				.col-md-3.col-sm-6
					.home-stat__item.fadeInUpShort.wow(data-wow-delay="0")
						.name Новые вклады
						table
							tr
								td natasha
								td 510 руб
							tr
								td valera
								td 12 510 руб
							tr
								td tygrew
								td 200 510 руб
							tr
								td natasha
								td 510 руб
							tr
								td valera
								td 12 510 руб
							tr
								td tygrew
								td 200 510 руб
				.col-md-3.col-sm-6
					.home-stat__item.fadeInUpShort.wow(data-wow-delay=".4s")
						.name Новые вклады
						table
							tr
								td natasha
								td 510 руб
							tr
								td valera
								td 12 510 руб
							tr
								td tygrew
								td 200 510 руб
							tr
								td natasha
								td 510 руб
							tr
								td valera
								td 12 510 руб
							tr
								td tygrew
								td 200 510 руб
				.col-md-3.col-sm-6
					.home-stat__item.bg-yellow.fadeInUpShort.wow(data-wow-delay=".6s")
						.name Топовые инвесторы
						table
							tr
								td natasha
								td 510 руб
							tr
								td valera
								td 12 510 руб
							tr
								td tygrew
								td 200 510 руб
							tr
								td natasha
								td 510 руб
							tr
								td valera
								td 12 510 руб
							tr
								td tygrew
								td 200 510 руб
				.col-md-3.col-sm-6
					.home-stat__item.fadeInUpShort.wow(data-wow-delay=".8s")
						.name Топовые рефоводы
						table
							tr
								td natasha
								td 510 руб
							tr
								td valera
								td 12 510 руб
							tr
								td tygrew
								td 200 510 руб
							tr
								td natasha
								td 510 руб
							tr
								td valera
								td 12 510 руб
							tr
								td tygrew
								td 200 510 руб