section.home-partners
	.container
		.section-header
			h2 Наши партнеры
			p Нам доверяют
		ul#partnersCarousel.owl-carousel
			li.home-partners__item: img(src="img/partner1.png", alt="")
			li.home-partners__item: img(src="img/partner2.png", alt="")
			li.home-partners__item: img(src="img/partner3.png", alt="")
			li.home-partners__item: img(src="img/partner4.png", alt="")
			li.home-partners__item: img(src="img/partner4.png", alt="")