section.home-about
	.container
		.section-header.fadeInLeftShort.wow
			h2 О нас
		.row
			.col-md-7.col-lg-offset-1.col-lg-6.pull-right
				include features-circle
			.col-md-5.pull-left
				p.mb-60.fadeInLeftShort.wow Кредитный кооператив “ВашДоход” — действующий член Ассоциации "Саморегулируемая организация кредитных потребительских кооперативов "Кооперативные Финансы". Ассоциация обеспечивает имущественную ответственность кредитного кооператива и контролирует его деятельность. Ведём прозрачную отчётность по стандартам и делаем отчисления в компенсационный фонд, средства которого используются для выполнения обязательств кооператива перед пайщиками
				a(href="#").fadeInLeftShort.wow.btn.btn--yellow.big Узнать больше