extends _template-inner

block main
	section.bg-gray
		.container
			.content
				h2 О нас
				p Кредитный кооператив “ВашДоход” — действующий член Ассоциации "Саморегулируемая организация кредитных потребительских кооперативов "Кооперативные Финансы". Ассоциация обеспечивает имущественную ответственность кредитного кооператива и контролирует его деятельность. Ведём прозрачную отчётность по стандартам и делаем отчисления в компенсационный фонд, средства которого используются для выполнения обязательств кооператива перед пайщиками
				p Ассоциация обеспечивает имущественную ответственность кредитного кооператива и контролирует его деятельность. Ведём прозрачную отчётность по стандартам и делаем отчисления в компенсационный фонд, средства которого используются для выполненияобязательств кооператива перед пайщиками
	.section.container
		include includes/features-circle
	include includes/home-features
	include includes/home-referal
	include includes/home-stat
	include includes/home-reviews
	include includes/home-partners