extends _template-inner

block main
	section.bg-gray.questions
		.container
			h2 FAQ
			.tabs
				ul.tabs-nav.questions-nav
					li.questions-nav__item.active: span Часто задаваемые вопросы
					li.questions-nav__item: span Информация о защищенности
					li.questions-nav__item: span Инструкция пользователя
				.tabs-main
					.tabs-body.active
						-for(i=0;i<10;i++)
							.tabs-item.questions__item
								.question
									p При изменении пароля появилось сообщение что пароль указан некорректно
								.answer
									p Сразу после входа в Личный кабинет открывается страница «Мои средства», на которой показан список открытых продуктов (счет до востребования и депозиты) с информацией о текущем остатке средств на них. При нажатии на каждый продукт открывается страница с подробной информацией о данном продукте.
					.tabs-body
						-for(i=0;i<10;i++)
							.tabs-item.questions__item
								.question
									p При изменении пароля появилось сообщение что пароль указан некорректно
								.answer
									p Сразу после входа в Личный кабинет открывается страница «Мои средства», на которой показан список открытых продуктов (счет до востребования и депозиты) с информацией о текущем остатке средств на них. При нажатии на каждый продукт открывается страница с подробной информацией о данном продукте.
					.tabs-body
						-for(i=0;i<10;i++)
							.tabs-item.questions__item
								.question
									p При изменении пароля появилось сообщение что пароль указан некорректно
								.answer
									p Сразу после входа в Личный кабинет открывается страница «Мои средства», на которой показан список открытых продуктов (счет до востребования и депозиты) с информацией о текущем остатке средств на них. При нажатии на каждый продукт открывается страница с подробной информацией о данном продукте.