extends _template

block main
	//calc
	section.home-calc.bg-gray
		.container
			.section-header
				h2 Рассчитайте свой доход
				p Калькулятор доходности
			.calc.clearfix.fadeInUpShort.wow
				.left
					.calc-param
						.calc-param__header.dt--header
							.dtc
								span.title Какую сумму Вы хотите вложить?
							.dtc
								input(type="text").slider-value
						.slider(style="height: 80px;")
							#calcSliderInit
					.calc-param
						.calc-param__header.dt--header
							.dtc
								span.title На какой срок?
							.dtc
								span.percent <span>Ставка:</span> 15.73%
						.time-line
							.time-line__progress
							label
								input(type="radio" name="time-line")
								span.condition: span 1
								span.text 1 мес
							label
								input(type="radio" name="time-line")
								span.condition: span 3
								span.text 3 мес
							label
								input(type="radio" name="time-line")
								span.condition: span 6
								span.text 6 мес
							label
								input(type="radio" name="time-line")
								span.condition: span 9
								span.text 9 мес
							label
								input(type="radio" name="time-line")
								span.condition: span 12
								span.text 12 мес
				.right
					.calc-output
						p Через 3 месяца
						p.tt Вы получите
						output#final-value
							span.val 0
							span.currency руб
						p Доход по сбережению
						output#income
							span.val 0
							span.currency руб
						a(href="#").btn.btn--yellow.big Полный расчет
	include includes/home-about
	include includes/home-features
	include includes/home-referal
	include includes/home-stat
	include includes/home-reviews
	include includes/home-partners
